  {{ content() }}


  <!DOCTYPE html>
  <html lang="fr">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">
  
    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/errors/css/style.css" />
  
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
  
  </head>
  
  <body>
  
    <div id="notfound">
      <div class="notfound">
        <div class="notfound-404">
          <h1>5 <span></span> 3</h1>
        </div>
        <h2>Oops! Service indisponible</h2>
        <p>Service temporairement indisponible ou en maintenance, merci de contacter un Administrateur ou un Développeur si le problème perciste !</p>
        <a href="{{ url('index') }}">Retour</a>
      </div>
    </div>
  
  </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
  
  </html>